    
    </div>
    <!--<footer class="footer">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-md-3">-->
    <!--                <address class="address">-->
    <!--                   <strong>Contact Us</strong> <br>-->
    <!--                    Phone: (707) 527-5653 <br>-->
    <!--                    Email:  classynails@gmail.com <br>-->
    <!--                </address>-->
    <!--            </div>-->
    <!--            <div class="col-md-3">-->
    <!--                <address class="address">-->
    <!--                   <strong>Address</strong> <br>-->
    <!--                    711 Stony Point Rd #13A <br>-->
    <!--                    Santa Rosa, CA 95407 <br>-->
    <!--                </address>-->
    <!--            </div>-->
    <!--            <div class="col-md-6">-->
    <!--                <a href="https://www.facebook.com/ClassyNailsSP/"><i class="fa fa-facebook-square fa-2x"></i></i></a>-->
    <!--                <a href="#"><i class="fa fa-yelp fa-2x"></i></a>-->
    <!--            </div>-->
    <!--    </div>-->
    <!--</footer>-->
    <!-- jQuery CDN -->
    <!--Allows drop down menu-->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        </body>
</html>