<% include ./partials/header %>


    <header class= "jumbotron">
        <div class="container">
            <h1>Welcome to Classy Nails</h1>
        </div>
    </header>

<% include ./partials/footer %>