<% include ./partials/header %>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-manicure-tab" data-toggle="pill" href="#pills-manicure" role="tab" aria-controls="pills-manicure" aria-selected="true">Manicures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-pedicure-tab" data-toggle="pill" href="#pills-pedicure" role="tab" aria-controls="pills-pedicure" aria-selected="true">Pedicures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-other-tab" data-toggle="pill" href="#pills-other" role="tab" aria-controls="pills-other" aria-selected="true">Other</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-manicure" role="tabpanel" aria-labelledby="pills-manicure-tab">
            <div class="table-responsive" id="manicure">
                <table class = "table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th scope="col">Service</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-pedicure" role="tabpanel" aria-labelledby="pills-pedicure-tab">
            <div class="table-responsive" id="manicure">
                <table class = "table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th scope="col">Service</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab">
            <div class="table-responsive" id="manicure">
                <table class = "table table-bordered">
                    <thead class="thead-inverse">
                        <tr>
                            <th scope="col">Service</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <th scope="row">Classy Manicure</th>
                            <td>Its a good manicure</td>
                            <td>$20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
