<% include ./partials/header %>

    <div class="container">
        This is the services page
        <div class="table-responsive" id="manicure">
            <table class = "table table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">Service</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" id="pedicure">
            <table class = "table table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">Service</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive" id="other">
            <table class = "table table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">Service</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                    <tr>
                        <th scope="row">Classy Manicure</th>
                        <td>Its a good manicure</td>
                        <td>$20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<% include ./partials/footer %>
